# Linting & Formatting
ruff==0.16.6

# Type Checking
mypy==2.3.1

# Home Assistant Core & Testing
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-homeassistant-custom-component==0.13.362

# Integration Dependencies
serialx==1.10.0
