# Linting & Formatting
ruff==0.16.3

# Type Checking
mypy==2.3.1

# Home Assistant Core & Testing
pytest==9.0.3
pytest-asyncio==1.4.0
pytest-homeassistant-custom-component==0.13.362

# Integration Dependencies
elkm1-lib==2.2.15
serialx==1.9.0
